<!doctype html>
<html lang="en">
<body>
  <ul>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/logout">logout</a></li>
    <li><a href="/studios">Studios</a></li>

  </ul>
  <main><%- include(content) %></main>
  </body>
</html>

