<div>
  <ul>
    <li>
      <h1>Post 1</h1>
      <div>messages</div>
    </li>
    <li>
      <h1>Post 2</h1>
      <div>messages</div>
    </li>
    <li>
      <h1>Post 3</h1>
      <div>messages</div>
    </li>
  </ul>
</div>
