<div class="text-center">
    <img class="rounded-circle" alt="avatar1" src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" />
</div>
<div> profile stuff for <%=username%> </div>

<div style="color: red;">If its the first login the user should add here some data about himself --> EDIT PROFILE</div>
<div style="color: red;">Else, show user profile properties</div>

<a href="editProfile" class="nav-link align-middle px-0">
    <div class="btn btn-primary btn-block mb-4">
        <i class="bi bi-pen"></i>
        Edit profile
    </div>
</a>